<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-list/iron-list.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../cotton-loading/cotton-loading.html">

<dom-module id="cotton-list">
  <style>
    :host .scrollContainer {
      height: var(--scroll-container-height, 100%);
      overflow-x: auto;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    :host .air {
      margin: 5px 0;
    }
    :host ::content iron-list {
      padding: 0 10px;
      width: calc(100% - 20px);
    }
    :host ::content iron-list .content {
      padding: 6px;
      margin: 0 15px;
      background: white;
      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 0 4px rgba(0,0,0,.24);
      cursor: pointer;
      position: relative;
      min-height: 38px;
    }
    :host ::content iron-list .container:first-child {
      margin-top: 10px;
    }
    :host ::content iron-list .container.disabled .content {
      opacity: 0.8;
    }
    :host ::content iron-list .container.disabled .content .title {
      color: var(--secondary-text-color);
    }
    :host ::content iron-list .content:focus {
      outline: none;
      border-left: 3px solid var(--accent-color);
    }
    :host ::content iron-list .container.expanded .content {
      margin: 10px 5px 10px;
      border-left: 3px solid var(--accent-color);
    }
    :host ::content iron-list .container.expanded .main {
      height: auto;
      overflow: auto;
      margin-bottom: 60px;
    }
    :host ::content iron-list .content .expanded-block, :host ::content iron-list .container.expanded .collapsed-block {
      display: none;
    }
    :host ::content iron-list .container.expanded .expanded-block {
      display: block;
    }
    :host ::content iron-list .content:hover .toolbar {
      display: block !important;
    }
    :host ::content iron-list .content:hover .toolbar.expanded-block {
      display: none !important;
    }
    :host ::content iron-list .container.expanded .toolbar.expanded-block {
      display: block !important;
    }
    :host ::content iron-list .container.disabled .toolbar.expanded-block {
      background-color: white;
    }
    :host ::content iron-list .container.expanded .toolbar {
      display: none;
    }
    :host ::content iron-list .content .toolbar.expanded-block {
      position: absolute;
      bottom: 0;
      border-top: 1px solid var(--divider-color);
      width: calc(100% - 20px);
      left: 0;
      padding: 10px;
    }
    :host ::content iron-list .container.collapsed .toolbar {
      display: none;
      position: absolute;
      background: white;
      opacity: 0.9;
      right: 0;
      margin-right: 6px;
      top: 0;
      margin-top: 3px;
      z-index: 1000;
    }
    :host ::content iron-list .content .title {
      font-size: 15pt;
    }
    :host ::content iron-list .content .body {
      margin: 10px 0;
      color: var(--secondary-text-color);
    }
    :host #emptyList {
      height: calc(100% - 12px);
      text-align: center;
    }
    :host #emptyList div {
      margin: 0 auto;
      font-size: 20px;
    }
  </style>

  <template>
    <div class="scrollContainer">
      <div class="air" hidden$="[[loadingItems]]"></div>
      <content></content>
      <template is="dom-if" if="[[_noItems]]">
        <div id="emptyList" class="layout horizontal center">
          <div>[[_noItemsMessage]]</div>
        </div>
      </template>
      <div class="air" hidden$="[[loadingItems]]"></div>
      <cotton-loading hidden$="[[!loadingItems]]" loading-message=[[loading]]></cotton-loading>
      <iron-scroll-threshold id="scrollTheshold"
                             lower-threshold="[[pageSize]]"
                             on-lower-threshold="_loadMoreItems"
                             scroll-target="document">
      </iron-scroll-threshold>
    </div>
  </template>

  <script>
      const CottonListDictionary = {
          es : {
              loading: "obteniendo elementos",
              defaultNoItemsMessage: "no hay elementos"
          },
          en : {
              loading: "fetching items",
              defaultNoItemsMessage: "no items"
          }
      };

      Polymer({
          is: 'cotton-list',

          properties : {
              loadingItems: Boolean,
              page: { type: Number, value: function() { return 0; } },
              count : { type: Number, value: function() { return -1; }, observer: '_clearThreshold' },
              noItemsMessage : { type: String, observer: '_refreshNoItemsMessage', value: function() { return null; } },
              pageSize: { type: Number, value: function() { return 10; }, observer: '_clearThreshold' },
          },

          behaviors: [ CottonBehaviors.TranslatorBehavior ],

          ready : function() {
              this._checkExistsIronList();
              this._propagateScrollTarget();
          },

          attached: function() {
              this.translate(CottonListDictionary);
              this._noItems = false;
              this._noItemsMessage = this._refreshNoItemsMessage();
          },

          _refreshNoItemsMessage : function() {
              this._noItemsMessage = this.noItemsMessage != null ? this.noItemsMessage : this.defaultNoItemsMessage;
          },

          _checkExistsIronList : function() {
              var ironList = this.querySelector("iron-list");
              if (ironList != null) return;
              console.log("WARNING in cotton-list: iron-list not defined");
          },

          _propagateScrollTarget : function() {
              var widget = this;
              var scrollContainer = this.querySelector(".scrollContainer");
              $(scrollContainer).scroll(function() { widget.fire("scroll"); });
              this.querySelector("iron-list").scrollTarget = scrollContainer;
              this.querySelector("iron-scroll-threshold").scrollTarget = scrollContainer;
          },

          _clearThreshold : function() {
              this._noItems = !this.loadingItems && this.count == 0;
              if (this.page >= this._countPages() - 1) return;
              this.$.scrollTheshold.clearTriggers();
          },

          _loadMoreItems : function() {
              this.loadingItems = true;

              if (this.page >= this._countPages() - 1) {
                  this.loadingItems = false;
                  return;
              }

              this.page++;
              this.fire("new-page", { page: this.page });
              this.$.scrollTheshold.clearTriggers();
          },

          clear : function() {
              this.loadingItems = false;
              this.page = 0;
              this._clearThreshold();
          },

          pageLoaded : function() {
              this.loadingItems = false;
              this._stopPropagations();
          },

          _stopPropagations : function() {
              this.async(function() {
                  var blocks = this.querySelectorAll(".expanded-block");
                  for (var i=0; i<blocks.length; i++) {
                      var block = blocks[i];
                      block.addEventListener('tap', function(event) { event.stopPropagation(); });
                      block.addEventListener('click', function(event) { event.stopPropagation(); });
                  }

                  var toolbars = this.querySelectorAll(".toolbar");
                  for (var i=0; i<toolbars.length; i++) {
                      var toolbar = toolbars[i];
                      toolbar.addEventListener('tap', function(event) { event.stopPropagation(); });
                  }
              }, 10);
          },

          _countPages : function() {
              return Math.floor(this.count / this.pageSize) + (this.count % this.pageSize > 0 ? 1 : 0);
          }

      });
  </script>
</dom-module>
